
@{
    ViewBag.Title = "HtmlCourse";
}
<script>

</script>
<div class="Html_Course">
    <div class="row">
        <div class="col-md-3">
            <div class="HeadLine">
                <h1>HTML TUTORIAL</h1>
                <ul id="mybar">
                    <li><a href="#">HTML Home</a></li>
                    <li><a href="#">HTMl Introduction</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Basic</a></li>
                    <li><a href="#">HTMl Element</a></li>
                    <li><a href="#">HTML Home</a></li>
                    <li><a href="#">HTMl Introduction</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Basic</a></li>
                    <li><a href="#">HTML Home</a></li>
                    <li><a href="#">HTMl Introduction</a></li>
                    <li><a href="#">HTMl Editros</a></li>
                    <li><a href="#">HTMl Basic</a></li>
                    <li><a href="#">HTMl Element</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="BodyLine">
                <h1>HTML TUTORIAL</h1>
                <div>
                    <a href="#">Home</a>

                    <a href="#">NEXT</a>
                </div>
                <div class="introduc_lng">
                    <p></p>
                </div>
            </div>    
        </div>
    </div>
</div>


