<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopProgramer</title>
    <meta name="description" content="The description of my page" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    <link rel="preconnect" href="https://fonts.gstatic.com">    



</head>
<body>
    <header>
        <div class="bg-top">
            <div class="container-fluid">
                <div class="TopHeader">
                    <div class="MenuTop">
                        <nav class="d-none d-lg-block">
                            <ol>
                                <li>
                                    <a class="dropdown" href="/Home/Index">Home</a>
                                </li>
                                <li>
                                    <a class="dropdown" href="/Coures/Courses">Course</a>
                                </li>
                                <li>
                                    <a class="dropdown" href="#">Blog</a>
                                </li>
                                <li>
                                    <a class="dropdown" href="#">LearningPath</a>
                                </li>
                                <li>
                                    <a class="dropdown" href="/Project/ProjectDemo">Project</a>

                                </li>
                                <li>
                                    <a class="dropdown" href="/ContactUs/Contact">ContactUS</a>
                                </li>
                                <li>
                                    <a class="dropdown" href="/AboutUs/AboutTeam">AboutUs</a>
                                </li>

                                <li class="SignIn">
                                    <div class="SignUp SignIn-item">
                                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-md btn-danger">
                                            SignIN
                                        </button>
                                    </div>
                                    <div class="Login SignIn-item">

                                    </div>
                                </li>
                            </ol>
                        </nav>
                        <a href="#" style="text-decoration:none;" class="fas fa-bars d-lg-none d-md-block  d-sm-block  menu-mobile " onclick="openNav()"> </a>
                    </div>
                    <div class="logo">
                        <h1>TopProgramer</h1>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="bg-slide">
        <div class="container-fluid">
            <div class="SearchDev">
                <form action="/Home/Course" method="post" enctype="multipart/form-data">
                    <div class="search-box">
                        <input type="text" name="name" value="" placeholder="Search" class="form-control" />

                        <button type="submit" class="">
                            <i class="fas fa-search search-icon "></i>
                        </button>
                    </div>
                </form>
                <h1>Top Programer beest website for learn porogramming</h1>
                <h3 class="text-center text-white">bulid website fast and secure</h3>
            </div>
            <div class="social-media">
                <div class="social-media-item">
                    <a href="https://www.facebook.com/BuyWeb-105796091440053" class="">
                        <span class="fab fa-facebook-f"></span>
                    </a>
                </div>
                <div class="social-media-item">
                    <a href="" class="">
                        <span class="fab fa-twitter"></span>
                    </a>
                </div>
                <div class="social-media-item">
                    <a href="https://www.instagram.com/" class="">
                        <span class="fab fa-instagram">

                        </span>
                    </a>
                </div>
                <div class="social-media-item">
                    <a href="" class="">
                        <span class="fab fa-telegram"></span>
                    </a>
                </div>
                <div class="social-media-item">
                    <a href="" class="">
                        <span class="fab fa-whatsapp"></span>
                    </a>
                </div>
                <div class="social-media-item">
                    <a href="" class="">
                        <span class="fab fa-pinterest"></span>
                    </a>
                </div>

            </div>

            <div class="text-center Project_Design">
                <a href="" class="Project btn btn-success btn-lg">ProjectManagement</a>
                <a href="" class="Design btn btn-info btn-lg">WebDesign</a>
            </div>
        </div>
    </div>
    <main>
        <div class="">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="Footer-dev">
            <div class="container-fluid">
                <div class="row mt-5 mb-5">
                    <div class="col-md-4 col-sm-6 col-xs-12 AboutUS">
                        <h2>AboutUS</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                            non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h3>
                            Trust us safely
                        </h3>

                        <div class="row">
                            <div class="col-4">
                                <img src="~/Img/enamad.png" height="100" alt="" style="background-color:#e6e8ef;padding:10px;" />
                            </div>
                            <div class="col-4">
                                <img src="~/Img/enamad.png" height="100" style="background-color:#e6e8ef;padding:10px;" alt="" />
                            </div>
                            <div class="col-4">
                                <img src="~/Img/enamad.png" height="100" style="background-color:#e6e8ef;padding:10px;" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12 new-course">
                        <h2>news and new course</h2>
                        <form>
                            <input type="email" value="" />
                            <button class="btn btn-md btn-success">Send</button>
                        </form>
                        <div class="social-media">
                            <div class="social-media-item">
                                <a href="https://www.facebook.com/BuyWeb-105796091440053" class="">
                                    <span class="fab fa-facebook-f"></span>
                                </a>
                            </div>
                            <div class="social-media-item">
                                <a href="" class="">
                                    <span class="fab fa-twitter"></span>
                                </a>
                            </div>
                            <div class="social-media-item">
                                <a href="https://www.instagram.com/" class="">
                                    <span class="fab fa-instagram">

                                    </span>
                                </a>
                            </div>
                            <div class="social-media-item">
                                <a href="" class="">
                                    <span class="fab fa-telegram"></span>
                                </a>
                            </div>
                            <div class="social-media-item">
                                <a href="" class="">
                                    <span class="fab fa-whatsapp"></span>
                                </a>
                            </div>
                            <div class="social-media-item">
                                <a href="" class="">
                                    <span class="fab fa-pinterest"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt-5 mb-5">
                    <div class="col-md-3 col-sm-6 QuicMenu">
                        <div style="padding:10px;border-radius:4px; height:340px;">

                            <h2>Popular Frame work</h2>

                            <ul class="col-md-6">
                                <li><a href="#">Asp.net MvC</a></li>
                                <li><a href="#">Asp.net Core</a></li>
                                <li><a href="#">Django</a></li>
                                <li><a href="#">Bootstrap</a></li>
                                <li><a href="#">React</a></li>
                                <li><a href="#">Angular</a></li>
                            </ul>


                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 Course">
                        <div style="padding:10px;border-radius:4px; height:340px;">

                            <h2>FrontEnd Developer</h2>
                            <ul>
                                <li><a href="#">BackEnd</a></li>
                                <li><a href="#">FrontEnd</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">DataBase</a></li>
                                <li><a href="#">Android</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 QuicMenu">
                        <div style="padding:10px;border-radius:4px; height:340px;">
                            <h2>BackEnd Developer</h2>
                            <ul>
                                <li><a href="#">C#</a></li>
                                <li><a href="#">Python</a></li>
                                <li><a href="#">PHp</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 QuicMenu">
                        <div style="padding:10px;border-radius:4px; height:340px;">

                            <h2>Mobile Developer </h2>
                            <ul>
                                <li><a href="#">Java</a></li>
                                <li><a href="#">Swift</a></li>
                                <li><a href="#">Xamarin</a></li>
                                <li><a href="#">Katlin</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="CopyRoght">
            <p>
                CopyRight © 2021 - 2022 Star Dev-Powered By Asp.net

            </p>
            <p>Design credit: Alireza Akbarzadeh</p>
        </div>
    </footer>
    @*start section modal menu*@
    <!-- Modal -->
    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header Title-top-sign">
                    <h3 class="modal-title" id="exampleModalLongTitle">SigIn StarDev</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h1>Create an Account</h1>
                        <h3>sgin in complete your order</h3>
                        <div class="sign-gmail">
                            <span class="fab fa-google icon-google"></span>

                            <a href="">
                                <span>Sign In with Google</span>
                            </a>
                        </div>
                        <div class="sign-facebook">
                            <span class="fab fa-facebook icon-face"></span>
                            <a href="">
                                <span>Sign In with FaceBook</span>
                            </a>

                        </div>

                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Login</a></li>
                            <li><a data-toggle="tab" href="#menu1">SignUp</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <form action="" method="post">
                                    <div class="Log-item">
                                        <span class="fa fa-mail-bulk log"></span>
                                        <input type="text" value="" class="form-control" placeholder="Enter your Email Address" />
                                    </div>
                                    <div class="Log-item">
                                        <span class="fa fa-lock log"></span>
                                        <input type="password" value="" class="form-control" placeholder="Enter your PassWord" />
                                    </div>
                                    <div class="Send">
                                        <button class="btn btn-success btn-md" type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <form action="" method="post">
                                    <div class="Log-item">
                                        <label>Name:</label>
                                        <input type="text" value="" class="form-control" />
                                    </div>
                                    <div class="Log-item">
                                        <label>
                                            Family:
                                        </label>
                                        <input type="password" value="" class="form-control" />
                                    </div>
                                    <div class="Log-item">
                                        <label>
                                            Email:
                                        </label>
                                        <input type="password" value="" class="form-control" />
                                    </div>
                                    <div class="Log-item">
                                        <label>
                                            PhoneNumber:
                                        </label>
                                        <input type="password" value="" class="form-control" />
                                    </div>
                                    <div class="Log-item">
                                        <label>
                                            Password:
                                        </label>
                                        <input type="password" value="" class="form-control" />
                                    </div>
                                    <div class="Send">
                                        <button class="btn btn-success btn-md" type="submit">Send</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*start section open menu mobile*@
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="text-left box-nav-menu">
            <div class="box-nav-menu-item">

                <ol>
                    <li class="SignIn">
                        <div class="SignUp SignIn-item">
                            <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-md btn-danger">
                                SignIN
                            </button>
                        </div>
                        <div class="Login SignIn-item">

                        </div>
                    </li>
                    <li>
                        <a class="dropdown" href="/Home/Index">Home</a>
                    </li>
                    <li>
                        <a class="dropdown" href="/Coures/Courses">Course</a>
                    </li>
                    <li>
                        <a class="dropdown" href="#">Blog</a>
                    </li>
                    <li>
                        <a class="dropdown" href="#">LearningPath</a>
                    </li>
                    <li>
                        <a class="dropdown" href="/Project/ProjectDemo">Project</a>

                    </li>
                    <li>
                        <a class="dropdown" href="/ContactUs/Contact">ContactUS</a>
                    </li>
                    <li>
                        <a class="dropdown" href="/AboutUs/AboutTeam">AboutUs</a>
                    </li>


                </ol>
            </div>
        </div>
    </div>
    @*end section open menu mobile*@
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "40%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>
