@model StarDev.Models.SearchContent
@{
    ViewBag.Title = "Course";
}

<h2>Course</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            @foreach (var i in Model.GetAllContent)
            {
                @(new HtmlString(i.Content));
            }
        </div>
        <div class="col-md-4">

        </div>
    </div>


</div>



<div class="courese">
    <div class="row">
        <div class="col-md-4">
            <div class="img-cource">
                <img src="/Images/RenderImage/2" alt="" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-8">
            <div class="cource-info">
                <h2>
                    <a href="#">Learning C# </a>

                </h2>
                <p>
                    Python is the most popular programming language in the world. It’s used by big companies like Google, Facebook, Dropbox, Reddit, Spotify, Quora, etc. Mathematicians, scientists, engineers and developers love it because of its
                    simple and elegant syntax. It’s the #1 language for AI and machine learning, and the ideal language to learn for beginners. Much […]
                </p>
                <div class="more-details">
                    <a href="">more-details</a>
                </div>
            </div>
        </div>
    </div>
</div>