
@{
    ViewBag.Title = "NotFound";
}



<div >
    <div class="container">
        <div  class="text-center" style="background-color:#fff; padding:10px;margin:40px 0 50px 0;border-radius:5px;box-shadow:0 2px 10px 0 rgba( 0 ,0 ,0 ,0.1)">
            <h1> No ReSult for your Request  </h1>
            <h3>suggestion </h3>
            <ul style="list-style-type:none;padding:0;">
                <li><a href="/Home/Index">Redirect TO Home Page</a></li>
                <li><a href="/Courses/Course">See Our Coures</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>

    </div>
