@model StarDev.Models.Courses

@{
    ViewBag.Title = "ViewCourse";
}

<h2>ViewCourse</h2>


<div>
    @foreach (var i in Model.ShowCourse)
    {

        @(new HtmlString(i.Content));
    }
</div>


<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="view-course">
                    <div class="view-course-head">
                        <div></div>
                        <div></div>
                    </div>
                    <div class="trailer">
                        <video controls="controls">
                            <source src="~/Video/mov_bbb.mp4" type="video/mp4" />
                        </video>
                        <p></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
