body {
   
}

.Html_Course {
    .HeadLine {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px;
        height:1000px;
        overflow-y: scroll;
        h1 {
            font-size: 18px;

            ul {
                li {
                    a {
                    }
                }
            }
        }
    }

    .BodyLine {
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
}
