
.bg-top {
    color: #fff;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

@import "variables.scss";

.TopHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 55px;

    .SignIn {
        margin-right: 20px;

        .SignIn-item {
            display: inline-block;
        }

        .SignUp a {
            color: #fff;
            background-color:$primary-color;
            text-decoration: none;
            width: 79px;
            text-align: center;
            display: block;
            line-height: 24px;
            border-radius: 4px;
        }

        .Login a {
            color: #fff;
            background-color: $primary-color;
            text-decoration: none;
            width: 79px;
            text-align: center;
            display: block;
            line-height: 24px;
            border-radius: 4px;
        }
    }

    .MenuTop {
        margin-top: 10px;

        .menu-mobile {
            color: #fff;
            margin-left: 20px;
            font-size: 29px;
        }

        nav {
            ol {
                position: relative;
                padding: 0;

                li {
                    display: inline-block;
                    margin-right: 25px;
                }

                a {
                    color:#fff;
                    text-decoration: none;
                }

            }
        }
    }
}



//start section modal
.modal {
    .modal-dialog {
        .Title-top-sign {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                background-color: $primary-color;
                line-height: 33px;
                width: 58px;
                display: block;



                span {
                    color: #fff;
                }
            }
        }
    }

    .modal-body {
        h1, h3 {
            text-align: center;
        }

        .sign-gmail {
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 0 1px 0 #020202;
            line-height: 35px;
            margin-bottom: 10px;
            background-color: #6d2a4f;
            position: relative;

            a {
                color: #fff;
            }

            .icon-google {
                position: absolute;
                transform: translate(-55px, 10px);
                color: #fff;
            }
        }

        .sign-facebook {
            background-color: $primary-color;
            position: relative;
            line-height: 34px;
            text-align: center;
            border-radius: 5px;
            margin-bottom: 10px;

            .icon-face {
                position: absolute;
                transform: translate(-47px, 10px);
                color: #fff;
            }

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        .tab-content {
            .tab-pane {
                form {
                    .Log-item {
                        margin-top: 20px;
                        position: relative;

                        .log {
                            right: 0;
                            transform: translate(-12px, 10px);
                            position: absolute;
                            color: #d8cfd3;
                        }
                    }

                    .Send {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}


//start section menu  mobile
.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgba(14,31,49,0.5);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
    }


    .closebtn {
        border-radius: 50%;
        position: absolute;
        top: 74px;
        right: 34px;
        color: #fff;
        line-height: 35px;
        font-size: 19px;
        width: 40px;
        text-decoration: none;
        background: red;
    }

    .box-nav-menu {
        label {
            color: gold;
            border-bottom: 1px solid gold;
            padding: 5px 10px;
        }

        .box-nav-menu-item {
            margin-top: 48px;

            ol {
                li {
                    margin-left: 13px;
                    line-height: 25px;
                    list-style: none;
                    text-align: left;

                    a {
                        color: #fff;
                        text-decoration:none;
                    }
                }
            }

            .box-nav-menu-item > div {
                line-height: 40px;
                border-bottom: 1px solid #ffffff;
                padding: 16px 15px 0 15px;
                margin-right: 10px;
                margin-left: 10px;

                .size {
                    font-size: 10px;
                    text-decoration: none;
                    display: block;
                    padding: 17px 0 0 0;
                }

                a {
                    color: #fff;
                    text-decoration: none;

                    @media screen and (max-height: 450px) {
                        .sidenav a {
                            font-size: 18px;
                        }
                    }
                }

                a:before {
                    color: #fff;
                    display: block;
                    margin: -11px 0 0 0;
                }
            }
        }
    }

    ul {
        li {
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: $text-color;
                display: block;
                transition: 0.3s;
            }

            a:hover {
                color: #fff;
            }
        }
    }
}

//strat section footer dev
.Footer-dev {
    background: #fff;
    padding: 20px;
    display: flex;
    border-top: 6px solid #fc4364;
    margin-top: 20px;
    align-items: center;

    .container-fluid {
        .row {
            .AboutUS {

                h2 {
                    color: #fc4364;
                }

                p {
                    color: $text-color;
                    font-size:18px;
                    line-height: 25px;
                }
            }

            .Course {

                h2 {
                    border-bottom: 5px solid;
                    color:#fc4364;
                    padding-bottom: 5px;
                }

                ul {
                    padding: 0;

                    li {
                        margin-top: 10px;
                        list-style: none;

                        a {
                            color: $text-color;
                            text-decoration: none;
                            border: 1px solid $text-color;
                            border-radius: 4px;
                            width: 118px;
                            display: block;
                            line-height: 33px;
                            text-align: center;
                        }

                        a:hover {
                            background-color: #fc4364;
                            transition: 0.5s ease;
                            color: #fff;
                        }
                    }
                }
            }

            .new-course {
                h2 {
                    color: #d9534f;
                }

                form {
                    input {
                        line-height: 27px;
                        border-radius: 3px;
                        width: 50%;
                    }

                    button {
                    }
                }
            }

            .social-media {
                .social-media-item {
                    display: inline-block;
                    margin-right: 15px;
                    background-color: #e6e8ef;
                    width: 46px;
                    TEXT-ALIGN: CENTER;
                    border-radius: 5px;
                    font-size: 25px;
                    margin-top: 20px;

                    a {
                    }
                }
            }
            
            .QuicMenu {


                h2 {
                    color: #fc4364;
                    border-bottom: 5px solid #fc4364;
                    padding-bottom: 5px;
                }

                ul {
                    padding: 0;

                    li {
                        list-style: none;
                        margin-top: 10px;

                        a {
                            color: #8f868b;
                            text-decoration: none;
                            border: 1px solid #8f868b;
                            border-radius: 4px;
                            width: 118px;
                            display: block;
                            line-height: 33px;
                            text-align: center;
                        }

                        a:hover {
                            background-color: #fc4364;
                            transition: 0.5s ease;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.CopyRoght {
    background-color: #faf8f9;
    height: 80px;
    text-align: center;
    border-top: 5px solid #fc4364;

    p {
        color: $text-color;
        margin: 10px 0 10px 0;
    }
}
