body {
    background-color: #fafafa !important;
}


@import "Header_Footer.scss";

.bg-slide {
    background-image: url(../../Img/1600x900_coding-source-code.jpg);
    background-size: cover;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 93%, 21% 93%, 0 79%);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /*z-index:-10;*/
    .container-fluid {
        .SearchDev {
            width: 50%;
            margin: 0 auto;
            transform: translate(0px, 100px);

            h1 {
                color: #fff;
                text-align: center;
                margin-top: 36px;
            }

            form {
                .search-box {


                    input {
                    }

                    button {
                        background-color: #000;
                        position: absolute;
                        height: 34px;
                        width: 62px;
                        right: 0;
                        border: none;
                        color: #fff;
                        transform: translate(0px, -34px);

                        .search-icon {
                        }
                    }
                }
            }
        }

        .social-media {
            text-align: center;
            margin-top: 110px;

            .social-media-item {
                display: inline-block;
                margin-right: 15px;
                background-color: #fff;
                width: 46px;
                TEXT-ALIGN: CENTER;
                border-radius: 5px;
                font-size: 25px;
                margin-top: 20px;

                a {
                }
            }
        }

        .Project_Design {
            margin-top: 40px;

            .Project {
            }

            .Design {
            }
        }
    }
}

//start section course
.category {
    display: flex;
    justify-content: space-between;
}

.All-Course {
    a {
        text-decoration: none;
        transition: 0.4s ease;
    }

    a:hover h3 {
        color: blue;
    }
}

.Course-box {
    margin-top: 20px;
    background-color: #fff;
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;

    div {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
        color: #222;
        line-height: 26px;
    }

    ul {
        padding: 0;
        margin-top: 20px;

        li {
            list-style: none;
            display: inline-block;



            i {
                font-size: 18px;
                color: #000;
                margin-right: 16px;
            }
        }
    }
}

/*start section popular lang*/

/*start section marketing*/
.marketing, .manage {
    background-color: #f1efef;
    -webkit-box-shadow: -1px 3px 12px 2px #b5acb5;
    -moz-box-shadow: -1px 3px 12px 2px #b5acb5;
    box-shadow: -1px 3px 12px 2px #b5acb5;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    padding: 50px;
    text-align: center;
    margin-top: -90px;

    div {


        i {
            font-size: 33px;
            color: blue;
        }
    }
}
//start section ourwork
.OurWork {
    background-color: #fff;
    margin-top: 40px;
    padding: 50px 0 50px 0;
    height: 500px;
    clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 10%);
    padding-top: 100px;

    .OurWork_head {
        h2 {
            text-align: center;
            font-size: 40px;
        }

        p {
            text-align: center;
            font-size: 20px;
        }
    }

    .OurWork_body {
        margin-top: 40px;

        .Ourservice {
            div {
                background-color: rgba(236, 17, 21, 0.04);
                height: 100px;
                padding: 15px 0 0 48px;
                display: flex;
            }

            i {
                color: blue;
                border-radius: 50%;
                background-color: #fff;
                width: 50px;
                height: 51px;
                padding-top: 13px;
                text-align: center;
                margin-right: 20px;
                font-size: 26px;
            }

            span {
                color: #000;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}


//start section ourFeatures
.Ourfeatures {
    margin: 20px 0 20px 0;

    .Ourfeatures-info {
        margin-top: 30px;

        span {
            color: blue;
            font-size: 25px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 17px;
        }
    }
}

$breakpoint-tablet: 768px;
$breakpoint-Mobile: 425px;

@media (min-width: $breakpoint-Mobile) {
    .Course-box {
        height: auto !important;
    }

    .Footer-dev {
        height: auto ;
    }
    .bg-slide{
        height:auto;
    }
    .marketing, .manage{
        margin-top:20px;
    }
    .OurWork{
         height: auto !important;

    }
}


@media (min-width: $breakpoint-tablet) {
  .marketing, .manage{
        margin-top:20px;
    }
}
