
@import "variables.scss";
@import "Header_Footer.scss";
@import "View-course.scss";
@import "Miixin.scss";

body {
    background-color: #f0f7ff;
    font-family: 'Texturina', serif;
}


.bg-slide {
    background-image: url(../../Img/monitor-1307227_1920.jpg);
    background-size: cover;
    height: 600px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 82% 93%, 21% 93%, 0 79%);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .container-fluid {
        .SearchDev {
            width: 50%;
            margin: 0 auto;
            transform: translate(0px, 100px);

            h1 {
                color: #fff;
                text-align: center;
                margin-top: 36px;
            }

            form {
                .search-box {


                    input {
                    }

                    button {
                        background-color: #000;
                        position: absolute;
                        line-height: 38px;
                        width: 62px;
                        right: 0;
                        border: none;
                        color: #fff;
                        transform: translate(0px, -39px);

                        .search-icon {
                        }
                    }
                }
            }
        }

        .social-media {
            text-align: center;
            margin-top: 110px;

            .social-media-item {
                display: inline-block;
                margin-right: 15px;
                background-color: #fff;
                line-height: 37px;
                width: 46px;
                TEXT-ALIGN: CENTER;
                border-radius: 5px;
                font-size: 25px;
                margin-top: 20px;

                a {
                }
            }
        }

        .Project_Design {
            margin-top: 40px;

            .Project {
            }

            .Design {
            }
        }
    }
}

//start section course
.category {
    display: flex;
    justify-content: space-between;
}

.All-Course {
    a {
        text-decoration: none;
        transition: 0.4s ease;
    }

    a:hover h3 {
        color: blue;
    }
}

.Course-box {
    margin-top: 20px;
    background-color: #fff;
    height: 400px;
    border-radius: 5px;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;

    div {
        margin-top: 20px;
    }

    img {
        max-width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: $text-size;
        color: $text-color;
        line-height: 26px;
    }

    ul {
        padding: 0;
        margin-top: 20px;

        li {
            list-style: none;
            display: inline-block;



            i {
                font-size: 18px;
                color: #000;
                margin-right: 16px;
            }
        }
    }
}

/*start section popular lang*/

/*start section marketing*/
.marketing, .manage {
    background-color: #fff;
    -webkit-box-shadow: -1px 3px 12px 2px #b5acb5;
    -moz-box-shadow: -1px 3px 12px 2px #b5acb5;
    box-shadow: -1px 3px 12px 2px #b5acb5;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    padding: 72px;
    text-align: center;
    margin-top: -90px;

    :hover {
        opacity: 0.7;
    }

    div {


        i {
            font-size: 33px;
            color: $primary-color;
        }
    }
}
//start section ourwork
.OurWork {
    background-color: #fff;
    margin-top: 40px;
    padding: 50px 0 50px 0;
    border-bottom: 14px solid $primary-color;
    height: 500px;
    clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 10%);
    padding-top: 100px;


    .OurWork_head {
        h2 {
            text-align: center;
            font-size: 40px;
        }

        p {
            text-align: center;
            color: $text-color;
            font-size: 20px;
        }
    }

    .OurWork_body {
        margin-top: 40px;

        .Ourservice {
             
               
                  

            div {
                background-color: rgba(236, 17, 21, 0.04);
                height: 100px;
                padding: 15px 0 0 48px;
                display: flex;

            }
           div:hover{
               background-color:$primary-color;
           }
            div:hover >span{
                    transition:0.7s ease;
                    color:#fff;
                
            }
            i {
                color: $primary-color;
                border-radius: 50%;
                background-color: #fff;
                width: 50px;
                height: 51px;
                padding-top: 13px;
                text-align: center;
                margin-right: 20px;
                font-size: 26px;
            }

            span {
                color: $primary-color;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
//start section ourFeatures
.Ourfeatures {
    margin: 80px 0 80px 0;

    .Ourfeatures-info {
        margin-top: 30px;

        span {
            color: $primary-color;
            font-size: 25px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            color: $text-color;
            font-size: $text-size;
        }
       
    }
     .features-img{
            img{
                max-width:100%;
                border-radius:5px;
            }
        }
}


//start section user cooment
.User_com {
    margin: 150px 0 150px 0;

    .Comment-box {
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 0px 1px 4px #fc4364;
    }

    .Commnet_head {
        border-bottom: 4px solid $primary-color;
        align-items: center;
        padding-bottom:5px;

        div {
            display: flex;

            img {
                height: 70px;
                border-radius: 5px;
            }

            a {
                color: $text-color;
                text-decoration: none;
                font-size: $text-size;
                margin-left: 15px;

                :hover {
                    opacity: 0.7;
                }

                span {
                    display: block;
                    margin-top: 5px;
                }
                i{
                    color:$primary-color;
                }
            }
        }
    }

    .Commnet_body{
        p{
            line-height:25px;
            font-size:$text-size;
        }
    }
}







@media (max-width: $breakpoint-Mobile) {
    .Course-box {
        height: auto;
    }

    .Footer-dev.OurWork {
        height: 100%;
    }

    .bg-slide {
        height: 600px;
    }

    .marketing, .manage {
        margin-top: 20px;
    }

    .OurWork {
        height: 100%;
    }

    .OurWork .OurWork_body .Ourservice div {
        margin-top: 20px;
    }

    .bg-slide .container-fluid .SearchDev {
        width: 100%;
    }
}


@media (max-width: $breakpoint-tablet) {
    .marketing, .manage {
        margin-top: 20px;
    }
}
