 $text-size: 17px;
$text-sm-size: 14px;
$text-xs-size: 12px;
$text-color: #0b082f;
$bg-color: #f0f7ff;
$primary-color: #fc4364;
$breakpoint-tablet: 768px;
$breakpoint-Mobile:576px;
$breakpoint-Mobile:576px;